<!DOCTYPE HTML>
<html>
    <head>
        <title>Bulk User Creation Tool</title>
        <meta name="decorator" content="atl.admin" />
        #requireResource(dso.intern.plugin.bulk-user-creator-tool:bulk-user-creator-tool-resources)
    </head>
    <body>
        <h1>The file uploaded sucessfully</h1>
    </body>
</html>

